# Node modules
node_modules/
**/node_modules/

# Environment files
.env
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.DS_Store

# Production build
frontend/build/

# Backend uploads
backend/uploads/

# Misc
coverage/
